:root{
	--mainColor:#34e74c;
	--secondaryColor:#22c41c;

	--borderColor:#044e08;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(18, 134, 53, 0.8);
	--previewShadow:#24d884;


	--buttonColor:#34a343;


}
